# Virtual Environment
venv/
.venv/
__pycache__/
*.pyc

# Data & Models
models/

# Processed Intermediate Pipelines
output/verified_clean_profiles.json
output/verified_clean_profiles.csv

# Allow tracking of the final target csv within the output directory
!output/submission.csv

# IDE & OS Noise
.vscode/
.DS_Store
exploratory_scripts/