# Virtual Environment
venv/
.venv/
__pycache__/
*.pyc

# Data & Models
data/candidates.jsonl.gz
data/candidates.jsonl
models/bge-small-en-v1.5/
models/precomputed/
exploratory_scripts/

# IDE files
.vscode/
.DS_Store